@use "../palette";
@use "../vars";
@use "../breakpoints" as *;

.about-page {
  background: linear-gradient(180deg, #010101 0%, #1A0E01 100%) no-repeat;

  .section-intro {
    padding: 120px 0;

    @include tablet {
      padding: 60px 0;
    }

    @include phone {
      padding: 30px 0;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      @include phone {
      flex-direction: column;
        position: static;
        gap: 30px;
        text-align: center;
      }

      .info-block {
        max-width: 425px;
        width: 100%;
        margin-right: 20px;

        h4 {
          font-size: 12px;
          line-height: 2.09;
          word-spacing: 10px;
          margin-bottom: 38px;

          @include tablet {
            line-height: 1.8;
            margin-bottom: 18px;
          }

          span {
            color: palette.$orange-dark;
            padding-left: 5px;
          }
        }

        h1 {
          font-size: 30px;
          line-height: 1.8;
          margin-bottom: 24px;

          @include tablet {
            font-size: 26px;
            line-height: 1.5;
            margin-bottom: 12px;
          }
        }

        p {
          font-size: 15px;
          font-weight: vars.$regular;
          line-height: 2;
          margin-bottom: 48px;

          @include tablet {
            font-size: 14px;
            line-height: 1.8;
            margin-bottom: 24px;
          }
        }

        .get-more-btn {
          img {
            margin-left: 18px;
          }
        }
      }

      .games {
        width: 740px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(7%, -50%);

        @include tablet {
          width: 370px;
        }

        @include phone {
          position: static;
          transform: none;
          margin: 0 auto;
          width: 300px;
        }

        .swiper {

          .controls {
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #333333;
            position: absolute;
            bottom: 0;
            z-index: 1;

            @include tablet {
              width: 146px;
            }

            .button-prev, .button-next {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              user-select: none;
            }

            .button-prev {
              padding: 26px 10px 26px 30px;

              @include tablet {
                padding: 20px 10px 20px 26px;
              }
            }

            .button-next {
              padding: 26px 30px 26px 10px;

              @include tablet {
                padding: 20px 26px 20px 10px;
              }
            }
          }

          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .section-work-with-us {
    padding: 80px 0;

    @include tablet {
      padding: 60px 0;
    }

    @include phone {
      padding: 30px 0;
    }

    &-inner {

      h3 {
        font-size: 24px;
        line-height: 1.8;
        margin-bottom: 64px;

        @include tablet {
          font-size: 22px;
          line-height: 1.5;
          margin-bottom: 32px;
        }

        @include phone {
          margin-bottom: 26px;
        }
      }

      .work-items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include phone {
          flex-direction: column;
          gap: 16px;
        }

        .work-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 380px;
          height: 350px;
          padding: 64px 37px;
          border-radius:20px;
          background-color: palette.$bokara-grey;

          @include tablet {
            max-width: 280px;
            width: 100%;
            min-height: 250px;
            height: 100%;
            padding: 32px 18px;
            margin: 0 10px;
          }

          @include phone {
            max-width: 418px;
            padding: 40px 26px;
          }

          div {
            width: 140px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 8px;

            @include tablet {
              width: 120px;
            }
          }

          &:nth-child(1) .sup-title {
            background-color: #B000DC1C;
          }

          &:nth-child(2) .sup-title {
            background-color: #DC42001C;
          }

          &:nth-child(3) .sup-title {
            background-color: #00DC8D1C;
          }

          h4 {
            font-weight: vars.$semiBold;
            font-size: 20px;
            line-height: 1.88;
          }

          p {
            font-size: 14px;
            line-height: 1.88;
          }
        }
      }
    }
  }

  .section-hero {
    padding: 110px 0 0 0;
    background-color: palette.$bokara-grey;

    @include tablet {
      padding-top: 60px;
    }

    @include phone {
      padding: 60px 0;
    }

    &-inner {
      display: flex;
      justify-content: space-between;

      @include phone {
        flex-direction: column;
        align-items: center;
      }

      .hero-img {
        width: 50%;

        @include phone {
          width: 78%;
        }

        img {
          @include tablet {
            max-width: 496px;
            width: 100%;
            max-height: 490px;
            height: 100%;
          }
        }
      }



      .hero-info {
        max-width: 556px;
        width: 50%;
        padding: 10px;

        @include tablet {
          max-width: 400px;
          height: auto;
        }

        @include phone {
          text-align: center;
          width: 100%;
        }

        span {
          font-weight: vars.$medium;
          line-height: 2;

          @include phone {
            line-height: 1.8;
          }
        }

        h2 {
          max-width: 530px;
          width: 100%;
          font-weight: vars.$semiBold;
          font-size: 28px;
          line-height: 1.58;
          margin: 14px 0;

          @include tablet {
            max-width: 380px;
            font-size: 26px;
          }

          @include phone {
            font-size: 24px;
            line-height: 1.3;
          }
        }

        p {
          line-height: 2;

          @include phone {
            line-height: 1.8;
          }
        }
      }
    }
  }

  .section-team {
    padding: 160px 0 80px 0;

    @include tablet {
      padding: 80px 0 40px 0;
    }

    .section-team-inner {

      h3 {
        margin-bottom: 54px;
        font-weight: vars.$semiBold;
        font-size: 26px;
        line-height: 1.8;

        @include tablet {
          font-size: 24px;
          line-height: 1.5;
          margin-bottom: 26px;
        }
      }

      .team-members {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include tablet {
          justify-content: space-evenly;
          row-gap: 40px;

        }

        .team-member {
          width: 296px;
          height: 254px;
          background-color: palette.$bokara-grey;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 30px 94px;

          @include tablet {
            width: 40%;
          }

          @include phone {
            width: 80%;
          }

          .member-info {
            text-align: center;
            h4 {
              font-weight: vars.$semiBold;
              font-size: 18px;
              line-height: 1.8;
            }

            span {
              font-weight: vars.$light;
              font-size: 16px;
              line-height: 1.8;
            }
          }


        }
      }
    }
  }

  .section-subscribe {
    background-color: transparent;
  }
}